
  .navbar {
    background-color: #F1F3FF;
  }

  .logo {
    width: 100px;
    height: 34px;
    background-color: #0D28A6;
  }

  .offcanvas-body a{
    color: black;
  }
  
  .home {
    background-color: #F1F3FF;
  }

  .nav-item {
    font-weight: bold;
  }
  
  .btn-success {
    background-color: #5CB85F;
    border-color: #5CB85F;
  }

  .spacing, .page-footer {
    margin-top: 100px;
  }


  /* content1 */
  .home-car img {
    width: 120%;
    margin-left: 5px;

  }

  .home h1 {
    font-weight: bold;
    margin-bottom: 20px;
  }

  .home button {
    margin-top: 10px;
  }


  /* content2 */

  .service {
    margin-top: 65px;
  }


  /* content3 whyus */

  #whyus p{
    margin-bottom: 40px;
  }

  #whyus h3 {
    font-weight: bold;
  }

  .card-title {
    font-weight: bold;
  }


  /* content4 testi */
  #testi h3{
    text-align: center;
    font-weight: bold;
  }

  #testi p {
    text-align: center; 
    margin-top: 16px;
    margin-bottom: 40px;;
  }


  .item {
    background-color: #F1F3FF; 
    border-color: #F1F3FF; 
    width: 100%; 
    
  }

  .images-testi {
    float: left;
    margin-top: 50px; 
    margin-left: 20px;
  }

  .card-right i {
    color: gold;
  }

  .text-img {
    margin-left: 100px;
  }

  .owl-carousel .card-body {
    display: flex;
  }

  .card-left {
    width: 50%;
    height: 50%;
    margin: 80px 20px 0px 20px;
  }

  .card-right {
    margin: 50px 20px;
  }


  /* content5 */
  .banner {
    background-color: #0D28A6; 
    border-radius: 13px;
    text-align:center;
  }

  .banner h1 {
    color: white;
    margin-top: 20px;
  }

  .banner p {
    color:white ; 
    padding: 16px 250px 30px 250px; 
  }
  

  /* content6 FAQ  */
  .content-faq .card {
    margin-bottom: 10px;
  }

  .text-faq h3 {
    font-weight: bold;
  }

  /* footer */
  .list-unstyled p {
    font-weight: bold;
  }

  .footer-logo {
    width: 100px; 
    height: 34px; 
    background-color: #0D28A6; 
    margin-bottom: 30px;
  }


 
  @media (min-width: 320px) and (max-width: 576px) {
  
    
    .home-car img {
      width: 100%;
      padding-top: 50px;
    }

    .home h1 {
      font-size: 36px;
      line-height: 150%;
    }

    .service img {
      width: 70%;
      margin-top: 30px;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }

    
    .text-service span{
      padding: 10px;
    }

    #whyus {
      text-align: center;
    }

    .content-whyus .card {
      margin-bottom: 20px;
    }

    /* testi */
    .item {
      width: 95%;
      margin-left: 3%;  
    }

    .card-left {
      width: 25%;
      margin: 30px 35%;
    }
  
    .card-right {
      font-size: 16px;
    }

    .faq-icon {
      text-align: center;
      padding-bottom: 20px;

    }

    .owl-carousel .card-body{
       display: block;
     }
     

    /* banner */
    .banner p {
      font-size: 14px;
      padding: 16px 65px 20px 65px;
    }

    .text-faq h3 {
      text-align: center;
    }

    .text-faq p {
      text-align: center;
    }

    /* footer */
    .copyright {
      margin-top: 20px;
    }

    
  }